<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">このサイトについて</h2>

  <p class="about-text">
    このサイトはアニメソング専門のショッピングサイトです。<br>
    有名なものからコアなもの、昔の名曲まで多数の人気アニメソングを取り揃えております。<br>
    <br>商品名、アニメのタイトル、アーティスト名からお好きなアニメソングを探してみてください。<br>(商品検索は会員登録なしで行えます)<br>
    <br>
    ぜひ『アニソンしかうらないお店』でのお買い物をお楽しみください。
    <br>
    <br>
    <br>
  </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>
