<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">配送料について</h2>

    <p class="about-text">
      <h4>配送料</h4><br>
      全国どこでも<b>無料</b>でお届け!!<br>
      <br>
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>
