<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">配送料について</h2>

    <p class="about-text">
      配送料<br>
      全国どこでも一律<b>328円</b><br>
      <b>5000円以上のお買い上げで送料無料</b><br>
      <br>
      配送料は注文確定画面で商品合計価格と合算して表示されます。<br>
      <br>
      <br>
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>
