<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">お支払い方法について</h2>

  <h2>コンビニ・銀行振り込み</h2>
    <p class="about-text">
      <b>【コンビニ決済】</b><br>
      商品代金は、以下のコンビニエンスストア全店舗でのお支払いが可能です。<br>
      お支払い完了の確認がとれ次第、商品の発送手続きをいたします。<br>
      <br>
      <b>【お支払い可能なコンビニエンスストア】</b><br>
      ローソン、セブンイレブン、ファミリーマート、ミニストップ、デイリーヤマザキ、サンクス、サークルＫ<br>
      ※お支払い手続きは各コンビニで異なります。詳しいお支払方法は各コンビニへお問い合わせください。<br>
      <br>
      <b>【銀行振り込み】</b><br>
      振込先は以下のいずれかになります。<br>
      <br>
      ・三井住友銀行<br>
      ・三菱東京UFJ銀行<br>
      ・みずほ銀行<br>
      <br>
      ご注文後、1週間以内にお振込みください。<br>
      お振込み手数料はお客様ご負担となります。<br>
    </p>
<br>
  <h2>クレジットカード決済</h2>
    <p class="about-text">
      <b>【ご利用可能なカードの種類】</b><br>
      VISA、MASTER、UC、JCB、アメリカン・エキスプレス、日本信販、UFJ、DC、ダイナース<br>
      ※海外発行のカードはご利用いただけません。<br>
      <br>
      <b>【デビットカード・プリペイドカードのご利用について】</b><br>
      一時的に二重の引き落としが生じる可能性があるため、デビット・プリペイドカードのご利用を推奨しておりません。<br>
      <br>
      <b>【ご利用可能回数】</b>
      一括、2回、3回、6回、12回、24回、リボ払い、ボーナス一括払い<br>
      <br>
      <b>【セキュリティについて】</b><br>
      カードの不正利用を防ぐために、セキュリティコードの入力をお願いしております。
      また、一部の注文を対象に、配送を保留とし、ご本人様のご利用であることを確認させていただく場合がございます。<br>
    </p>
    <br>
  <h2>代金引換</h2>
    <p class="about-text">
      代金引換とは、商品お届けの際に、配送業者へ商品代金を現金にて直接お渡しいただくお支払い方法です。<br>
      代金引換の場合、代引手数料をいただく場合がございます。<br>
      <br>
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>
