<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">プライバシーポリシー</h2>

  <h2>個人情報保護方針</h2>
    <p class="about-text">
      当サイト、アニソンしか売らないお店は、お客様のプライバシーや個人情報の保護に最大限の注意と努力を払っています。<br>
      <br>
      当社の業務上で、お客様からお名前、ご住所、お電話番号、電子メールアドレスなどの個人情報（これらの情報を「個人情報」といいます）をいただくことがあり、その保護は極めて重要なことと認識しています。<br>
      <br>
      このお知らせ（プライバシーポリシー）は、 こうした認識のもとに、当サイトのの個人情報取扱いに関する方針を皆さまへお知らせするものです。<br>
      <br>
      <br>
      <b>1.個人情報の管理</b><br>
      当サイトは個人情報の適切な管理のために、セキュリティシステムの維持、社内管理体制の整備等の必要な措置を講じ、安全対策等を実施して個人情報の厳重な管理を行います。<br>
      <br>
      <b>2.適正な取得及び利用目的</b><br>
      個人情報を取得する場合は、利用目的を通知した上で必要な範囲の個人情報を取得させていただきます。<br>
      取得した個人情報は、取得時に個別に通知した利用目的の他、以下に掲げる目的に利用します。<br>
      当サイトののサービス向上や新サービス開発のために利用します。<br>
      各種お問い合わせ内容を正確に把握し対応するために利用します。<br>
      上記の利用目的の変更は、相当の関連性を有すると合理的に認められる範囲においてのみ行い、<br>
      変更する場合には、電子メール・郵便またはインターネット上での公表など、適切な方法でお知らせします。<br>
      <br>
      <b>3.個人情報の取扱い業務の委託、第三者への提供</b><br>
      当サイトは、お客様より取得した個人情報を利用目的の達成に必要な範囲でその取扱いを委託しています。<br>
      次のいずれかに該当する場合を除き、個人情報を第三者に提供いたしません。<br>
        お客様の同意がある場合。<br>
        お客様が希望されるサービスを行うために当社が業務委託先に必要な範囲で開示する場合。<br>
        <br>
      <b>4.個人情報の取扱いに関する法令、その他関連法令・国が定めるガイドラインの遵守と見直し</b><br>
      当サイトは、個人情報の取扱いに関する法令、その他関連法令・国が定めるガイドラインを遵守するとともに、お客様の個人情報の保護をさらに徹底するため、上記各項における取組みを必要に応じて見直し、改善します。<br>
      <br>
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>