<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">返品について</h2>

  <h2>返品・交換</h2>
    <p class="about-text">
      商品到着後、<b>8日以内</b>に限らせていただきます。事前に必ずお問い合わせフォームよりご連絡をお願いします。<br>
      事前のご連絡なしに商品が返送されてきた場合、返品をお断りします。あらかじめご了承ください。<br>
      お客様からの事前連絡時に状況を確認します。内容により、返品を承ることができない場合があります。<br>
      弊社は特定商取引法によって規定されたクーリングオフ（無条件解約）の適用対象外業種となります。<br>
      当サイトではクーリングオフはご利用いただけません。<br>
      <br>
      <b>返品をお断りする事例</b><br>
      ・商品パッケージを開封した商品（付属品を含む）<br>
      ・商品外観がイメージと異なるといった理由<br>
      ・お客様の取り扱いによる傷や汚れがついた商品<br>
      ・その他、弊社で対応ができないと判断した場合、など<br>
      <br>
      <b>返送方法について</b><br>
      返品の際の送料はお客様ご負担です。配達状況が確認できる宅配便をご利用ください。<br>
      <br>
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", items_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>

<%= render 'shared/footer' %>