
<footer>
  <div class="container-fluid footer-wrapper">
    <div class="row footer-content">
      <div class="col-sm-6 footer-left">
        <div class="contact-boxes">
          <div class="contact-box footer-logo"></div><!-- ロゴ画像 -->
          <div class="contact-box">
            <span class="contact address">〒000-0000<br>ｘｘ市ｘｘ区ｘｘ町0-0</span>
            <span class="contact mail">Mail：ｘｘｘ＠ｘｘ.ｘｘ</span>
            <span class="contact tell">Tell：000-000-0000</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 footer-right">
        <div class="">
          <ul class="footer-list">
            <li class="footer-list-item">ホーム</li>
            <li class="footer-list-item">当サイトについて</li>
            <li class="footer-list-item">支払い方法について</li>
            <li class="footer-list-item">配送・送料について</li>
            <li class="footer-list-item">返品について</li>
            <li class="footer-list-item">特定商取引法に基づく表記</li>
            <li class="footer-list-item">プライバシーポリシー</li>
            <li class="footer-list-item">お問い合わせ</li>
        </div>
      </div>
      <p class="copyright">©Berry京都.</p>
    </div>
  </div>
</footer>