<header>

  <div class="header-top"><!-- ヘッダー上段 -->
      <nav class="header-content">
        <ul class="nav-list header-top-list">
          <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path, class: "header-top-a link-type-basic" %></li>
          <li class="nav-list-item"><%= link_to "会員登録", new_user_registration_path, class: "header-top-a link-type-basic" %></li>
          <li class="nav-list-item"><a class="header-top-a link-type-basic" href="">当サイトについて</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-bottom"><!-- ヘッダー下段 -->
      <nav class="header-content">
        <ul class="nav-list header-bottom-list">
          <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">ホーム</a></li>
          <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">アニメから探す</a></li>
          <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">アーティストから探す</a></li>
        </ul>
      </nav>
  </div>

  <div class="header-logo"></div><!-- ロゴ画像 -->

</header>
