<!-- 商品編集 -->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">商品の編集</h2>
    <div class="row">

      <div class="col-sm-4 main-left">
        <div class="item-image-edit"></div>
        <table class="table">
          <tbody>
            <tr>
              <td>商品名</td>
              <td>data</td>
            </tr>
            <tr>
              <td>シングル/アルバム</td>
              <td>data</td>
            </tr>
            <tr>
              <td>アーティスト</td>
              <td>data</td>
            </tr>
            <tr>
              <td>レーベル</td>
              <td>data</td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td>data</td>
            </tr>
            <tr>
              <td>アニメタイトル</td>
              <td>data</td>
            </tr>
            <tr>
              <td>発売年月日</td>
              <td>data</td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td>data</td>
            </tr>
            <tr>
              <td>価格</td>
              <td>data</td>
            </tr>
            <tr>
              <td>在庫数</td>
              <td>data</td>
            </tr>
          </tbody>
        </table>
        <div class="button-area">
          <button type="button" class="btn btn-info btn-lg item-new-button">編集する</button>
          <button type="button" class="btn btn-default btn-lg item-new-button">削除する</button>
        </div>
      </div>

      <div class="col-sm-8 left-box">
        <div class="record-box">
          <table class="table record-table">
            <tbody>
              <tr>
                <td>レコード</td>
                <td>data</td>
              </tr>
            </tbody>
          </table>
          <table class="table song-table">
            <thead>
              <tr>
                <th>曲順</th>
                <th>曲名</th>
                <th>時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>