<!-- 商品新規追加 -->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">商品の新規追加</h2>
    <div class="row">

      <!-- <div class="col-sm-4 main-left"> -->
        <!-- <div class="item-image-new"></div> -->
    <!--     <table class="table">
          <tbody> -->

            <%= render partial: "items/shared/form", item: @item %>

      <!-- </div> -->

<!--       <div class="col-sm-8 left-box">
        <div class="record-box">
          <table class="table record-table">
            <tbody>
              <tr>
                <td>レコード</td>
                <td>data</td>
              </tr>
            </tbody>
          </table>
          <table class="table song-table">
            <thead>
              <tr>
                <th>曲順</th>
                <th>曲名</th>
                <th>時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>data</td>
                <td>data</td>
                <td>data</td>
              </tr>
            </tbody>
          </table>
        </div> -->

      </div>
    </div>
  </div>