  <body>

    <!-- ヘッダー はじまり------------------------------------------------------------------------------------------------->
    <header>

      <div class="header-top"><!-- ヘッダー上段 -->
          <nav class="header-content">
            <ul class="nav-list header-top-list">
              <li class="nav-list-item"><a class="header-top-a link-type-basic" href="">ログイン</a></li>
              <li class="nav-list-item"><a class="header-top-a link-type-basic" href="">会員登録</a></li>
              <li class="nav-list-item"><a class="header-top-a link-type-basic" href="">当サイトについて</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="header-bottom"><!-- ヘッダー下段 -->
          <nav class="header-content">
            <ul class="nav-list header-bottom-list">
              <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">ホーム</a></li>
              <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">アニメから探す</a></li>
              <li class="nav-list-item"><a class="header-bottom-a link-type-basic" href="">アーティストから探す</a></li>
            </ul>
          </nav>
      </div>

      <div class="header-logo"></div><!-- ロゴ画像 -->

    </header>
    <!-- ヘッダー おわり------------------------------------------------------------------------------------------------->

    <div class="search"></div><!-- 検索フォーム -->
<!-- メインコンテンツ　はじまり ---------------------------------------------------------------------------------->
    <div class="body-content">
      <div class="container-fluid main-content">
        <div class="row main-top">
          <div class="col-sm-6">
            <div class="item-image"></div>
          </div>
          <div class="col-sm-6 item-box">
            <div class="item-detail">
              <h2 class="title">title</h2>
              <p class="singer">singer</p>
              <p class="price">￥price</p>
              <p class="stock">在庫ありorなし</p>
            </div>
            <div class="cart-area">
              <span class="quantity">購入数</span>
              <form>
                <input class="quantity-form" type="integer" name="quantity">枚
              </form>
              <div class="cart-button-area">
                <button type="button" class="btn btn-info btn-lg btn-block cart-button">カートに入れる</button>
              </div>
            </div>
          </div>
        </div>
        <h2 class="h2">商品詳細</h2>
        <div class="row main-bottom">
          <div class="col-sm-6 left-box">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>商品名</td>
                  <td>data</td>
                </tr>
                <tr>
                  <td>シングル/アルバム</td>
                  <td>data</td>
                </tr>
                <tr>
                  <td>アーティスト</td>
                  <td>data</td>
                </tr>
                <tr>
                  <td>レーベル</td>
                  <td>data</td>
                </tr>
                <tr>
                  <td>ジャンル</td>
                  <td>data</td>
                </tr>
                <tr>
                  <td>発売日</td>
                  <td>data</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6 right-box">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>商品説明</td>
                </tr>
                <tr>
                  <td>商品説明</td>
                </tr>
                <tr>
                  <td>収録曲</td>
                </tr>
                <tr>
                  <td>収録曲</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>