/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



/*----------------------------------------------------共通部分----------------------------------------------------*/
/*コンテンツ幅:960px*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:#546E7A;
  font-size:12px;
  letter-spacing: .1em;
  text-align:justify;
}
ul{
  margin-bottom:0;
}
a:hover{
  color:#FFD731;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
}
.h1{
  font-size:20px;
}
.h2{
  font-size:18px;
  border-bottom:1px solid;
  margin-top:10px;
}
.h3{
  font-size:15px;
  margin-top:20px;
}
.link-type-basic{
  text-decoration:none;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
/*header----------------------------------------------------*/
.header-top{
  height:50px;
  background-color:#546E7A; /*header上段、背景色：グレー*/
}
.header-bottom{
  height:50px;
  border-bottom:1px solid #546E7A;/*header下段、ボーダー*/
}

.header-content{
  width:960px;
  margin:0 auto;
}

.nav-list{
  list-style-type: none;
  line-height:50px;
}
.nav-list-item{
  float:left;
  margin:0 10px;
}

.header-top-list{
  float:right;
  /*header上段のリストは右配置*/
}
.header-bottom-list{
  float:left;
  /*header下段のリストは左配置*/
}
.header-top-a{
  color:#ffffff;/*header上段、文字色：白*/
}
.header-bottom-a{
  color:#546E7A;/*header下段、文字色：グレー*/
  font-size:16px;
  font-weight:600;
}
.header-bottom-admin{
  color:#546E7A;/*header下段、文字色：グレー*/
}
.header-logo{
  display:block;
  background-image: url(logo.png);
  background-size:cover;
  width: 120px;
  height:120px;
  margin:20px auto;
}

/*メインの幅---------------------------------------*/
.blue-box{
  padding: 20px 0 10px 0;
  background-color: #CEF6F5;
}
.blue-box-c{
  width: 500px;
  padding: 20px 0 10px 0;
  margin: 0 auto;
  background-color: #CEF6F5;
}
.blue-content{
  width: 450px;
  margin: 0 auto;
}
.h2-box{
  border-bottom:1px solid;
  text-align: center;
  font-size: 18px;
}
.body-content{
  width:960px;
  margin: 50px auto;
  line-height:1.65;
}
.body-box{
  width: 500px;
  margin:0 auto;
}
.body-box-about{
  width: 700px;
  margin:0 auto;
}
.actions{
  width: 115px;
  margin:20px 0;
}
.address-box{
  height: 90px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #9EBCC6;
}
.regist-box{
  height: 25px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #9EBCC6;
}
.field{
  font-size: 15px;
  margin-top: 10px;
}
.search{
  width: 210px;
  margin:0 auto;
  padding-top: 50px;
}
.pbox{
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.login-box{
  width: 120px;
  margin: 20px auto;
}
#notice{
  font-size: 18px;
  font-weight:700;
  color: #5858FA;
  border-bottom: #5858FA;
}

/*footer--------------------------------------------*/
.footer-wrapper{
  background-color:#42565B;
  margin-top:20px;/*商品一覧下部とフッター上部の間に余白*/
}
.footer-content{
  width:960px;
  margin:0 auto;
  padding-top:20px;
}
.footer-left{
  margin-top:10px;
}
.contact-box{
  float:left; /*ロゴと住所を横並び*/
}
.footer-logo{
  background-image: url(logo-white.png);
  background-size:cover;
  width: 100px;
  height:100px;
}
.contact{
  color:#ffffff;
  display:block;
  margin-left:20px;
  line-height:1.65;
}
.footer-list{
  list-style-type: none;
  margin-left:15px;
}
.footer-list-item{
  color:#ffffff;
  line-height:30px;
}
.copyright{
  color:#ffffff;
  margin:30px auto;
}


/*----------------------------------------------------個別ページ----------------------------------------------------*/
/*about -------------------------------------------------*/
.about-image{
  background-image: url(about.png);
  background-size:cover;
  width:50px;
  height:50px;
  margin:0 auto;
}


/*users-show -------------------------------------------------*/

.item-image{
  background-image: url(item.png);
  background-size:cover;
  width:50px;
  height:50px;
  margin:0 auto;
}
.button-area{
  width:270px;
}
.user-button{
  display:block;
  margin-right:10px;
  width:120px;
  float:left;
}
.password-button{
  margin-top:10px;
  display:block;
  width:100px;
  border-bottom:solid 1px;
}


/*users-edit -------------------------------------------------*/

.user-info{
  width:600px;
  margin:0 auto;
}
.pass-blue-box{
  background-color: #CEF6F5;
  width:400px;
  margin:10px auto;
}
.pass-blue-content{
  margin:0 auto;
  padding:10px 0;
  width:300px;
}
.pass-info{
  margin:20px 0;
}
.pass-field{
  width:200px;
  margin:0 auto;
}
.pass-action{
  margin:20px auto;
}
.user-update{
  width:150px;
  margin:0 auto;
}

/*users-edit ここまで-------------------------------------------------*/
.admin-button{
  float:left;
}
.admin-pass-button{
  margin-top:10px;
}
/*会員登録エラー ここから-------------------------------------------------*/
.error{
  width:1000px;
  margin: 0 auto;
}
/*会員登録エラー ここまで-------------------------------------------------*/

