// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oa{
	text-align:center;
}
.content {
	width: 480px;
	text-align:center;
	margin: 0 auto;
}
.ot{
	width: 240px;
}
.os{
	width:930px;
	text-align:center;
	margin: 0 auto;

}
.ob{
	width:930px;
	text-align:center;
	margin: 0 auto;
}
.word{
	 word-break:break-all;
}
.tableq{
	padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    width: 100%;
    border-top: 1px solid ;
    max-width: 100%;
    margin-bottom: 20px;
}

