// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oa{
	text-align:center;
}
.content {
	width: 480px;
	text-align:center;
	margin: 0 auto;
}
.c-form-box{
	height: 25px;
	border-radius: 5px;
	border: solid 1px;
  	border-color: #9EBCC6;
}
.c-form-box-on{
	border-radius: 5px;
	border: solid 1px;
	border-color: #9EBCC6;
}
.ot{
	width: 240px;
}
.os{
	width:930px;
	text-align:center;
	margin: 0 auto;

}
.ob{
	width:930px;
	text-align:center;
	margin: 0 auto;
}
.word{
	 word-break:break-all;
}
.contact-button-box{
	width:120px;
	margin:0 auto;
}
.contact-button{
	width:100px;
}
