// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-main-top{
	width:500px;
	margin:0 auto;
}
.genre-main-bottom{
	width:700px;
	margin:0 auto;
}
.genre-center{
	text-align:center;
}
.genre-button{
	height:34px;
}
.genre-sub{
  width:300px;
  margin: 0 auto;
}
.genre-main{
  width:750px;
  margin: 0 auto;
}
